{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        p {
            width: 260px;
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="principal">
        <div class="container">

            <div class="box">
                <div class="content">
                    <a href="{% url 'candidatura:apae' %}">

                        <h3>APAE Pedro de Toledo</h3>

                        <p>A Associação de Pais e Amigos dos Excepcionais (APAE) é uma associação que une toda a comunidade para prevenir e tratar a deficiência e promover o bem estar e desenvolvimento da pessoa com deficiência algumas vagas disponibilizadas
                            relacionadas são Pedagoga Especial, Psicólogo e pessoas dispostas a dar qualidade de vida as pessoas com deficiência e a construção de uma sociedade justa e solidária.</p>
                        </p>
                        <a href="http://www.apaepedrodetoledo.org.br/">mais informações</a>
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="content">

                    <a href="{% url 'candidatura:abbc' %}">
                        <h3>ABBC - Associação Beneficente do Bem Comum </h3>

                        <p>A ABBC visa a melhoria da condição de sociabilidade de idosos com redução e prevenção de situações de isolamento social e de institucionalização, assegurando o direito à convivência familiar e comunitária, algumas vagas disponibilizadas
                            são recreador de aula (educador físico), Auxiliar administrativo e pessoas disposta a desenvolver atividades voluntárias promovendo atividades em grupo com adolescentes adultos e idosos..</p>
                        <a href="https://www.facebook.com/cci.pedrodetoledo">mais informações</a>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

{% endblock content %}