{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .principal h2 {
            font-size: 50px;
            color: #ffff;
        }
        
        .principal h3 {
            font-size: 25px;
            color: #ffff;
            width: 879px
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="principal">

        <h2>Quem somos nós?</h2>
        <br>
        <h3>Somos alunos da UNIVESP, graduandos do quarto semestre do curso Bacharelado em Tecnologia da Informação</h3>

    </section>
    <!--principal-->

</body>

</html>

{% endblock content%}