{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .principal h2 {
            font-size: 50px;
            color: #ffff;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            text-align: center;
        }
        
        .principal h3 {
            font-size: 25px;
            color: #ffff;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="principal">

        <h2>Por que ser voluntário? <br>Veja os principais benefícios:<br></h2>
        <h3>Realizar trabalhos voluntários te permitirá crescer profissionalmente, desenvolver novas habilidades,
            <br> contribuir socialalmente com a comunidade local, entre outros.</br>
        </h3>

    </section>
    <!--principal-->
</body>

</html>

{% endblock content%}