{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidaturas</title>
    <link rel="stylesheet" href="{% static 'b_css/bootstrap.min.css' %}">
    <style>
        h1 {color:white}
        body {background-color: #060c25}
        li {color: white}
    </style>
</head>
<body>
    <h1 class="text-center">Detalhes Candidatura</h1>
    <ul>
        <li class="text-center">Nome Completo: {{ candidatura.nome_completo }}</li>
        <li class="text-center">Idade: {{ candidatura.idade }}</li>
        <li class="text-center">Contato: {{ candidatura.contato }}</li>
        <li class="text-center">Escolaridade: {{ candidatura.escolaridade }}</li>
        <li class="text-center">Sobre: {{ candidatura.sobre }}</li>
        <li class="text-center">Tipo: {{ candidatura.tipo }}</li>
    </ul>
</body>
</html>